In [11]:
import pandas as pd
data1 = pd.read_excel('mabse.xlsx')
df1 = pd.DataFrame(data1)
df1.sort_values(by = ['mgtkas_date'])
df1 = df1.loc[df1['mgtkas_date']  >= '2012-01-01']
df1.shape

(6435, 10)

In [12]:
data2 = pd.read_excel('bse500companies.xlsx')
df2 = pd.DataFrame(data2)
df2.head()

,Scrip Code,COMPANY,CAPS
0,523395.0,3M India Ltd.,3M INDIA LTD.
1,512161.0,8K Miles Software Services Ltd.,8K MILES SOFTWARE SERVICES LTD.
2,524208.0,Aarti Industries Ltd.,AARTI INDUSTRIES LTD.
3,523204.0,Aban Offshore Ltd.,ABAN OFFSHORE LTD.
4,500002.0,ABB India Ltd.,ABB INDIA LTD.

In [13]:
list1 = df2['CAPS'].tolist()
df3 = df1[df1['acquirer'].isin(list1)]
list2 = df3['acquirer'].tolist()

In [14]:
df6 = df2[df2['CAPS'].isin(list2)]
df6.head()

,Scrip Code,COMPANY,CAPS
1,512161.0,8K Miles Software Services Ltd.,8K MILES SOFTWARE SERVICES LTD.
3,523204.0,Aban Offshore Ltd.,ABAN OFFSHORE LTD.
8,533096.0,Adani Power Ltd.,ADANI POWER LTD.
9,539254.0,Adani Transmission Ltd.,ADANI TRANSMISSION LTD.
11,540025.0,Advanced Enzyme Technologies Ltd.,ADVANCED ENZYME TECHNOLOGIES LTD.

In [15]:
df3.head()

,co_code,company_name,mr_info_full_name,merg_num,mgtkas_date,entity_name_mst,acquirer,co_advisor,merg_acq_advisor,merg_acq_mer_banker
11117,371246,TV18 BROADCAST LTD.,Acquisition of shares,1,2012-01-03,EQUATOR TRADING ENTERPRISES PVT. LTD.,TV18 BROADCAST LTD.,NaN,NaN,NaN
11127,178651,PRAJ INDUSTRIES LTD.,Acquisition of shares,1,2012-01-06,PRAJ HIPURITY SYSTEMS LTD.,PRAJ INDUSTRIES LTD.,NaN,NaN,NaN
11165,27747,RELIANCE INFRASTRUCTURE LTD.,Sale of asset,1,2012-01-17,RELIANCE INFRASTRUCTURE ENGINEERS PVT. LTD. [M...,RELIANCE INFRASTRUCTURE LTD.,NaN,NaN,NaN
11166,27747,RELIANCE INFRASTRUCTURE LTD.,Merger,1,2012-01-17,RELIANCE ENERGY LTD. [MERGED],RELIANCE INFRASTRUCTURE LTD.,NaN,NaN,NaN
11167,27747,RELIANCE INFRASTRUCTURE LTD.,Merger,1,2012-01-17,RELIANCE ENERGY GENERATION LTD. [MERGED],RELIANCE INFRASTRUCTURE LTD.,NaN,NaN,NaN

In [16]:
df3 = df3.loc[df3['mr_info_full_name'] == 'Acquisition of shares']
df3.shape

(480, 10)

In [17]:
from datetime import datetime, timedelta
d = {'DATE OF ACQUISTION':[],'DATE one month AGO':[],'DATE ON YEAR ago':[]}
df4 = pd.DataFrame(data = d)
for index, row in df3.iterrows():
    currentdatetime = row['mgtkas_date']
    N = 365
    date_N_days_ago = currentdatetime - timedelta(days= 10)
    date_N_days_later = date_N_days_ago - timedelta(days=N)
    df4 = df4.append({'DATE OF ACQUISTION':currentdatetime,'DATE one month AGO':date_N_days_ago,'DATE ON YEAR ago':date_N_days_later}, ignore_index=True)


480 ACQUISTION CASES WE EXPECT 480 CSV FILES TO BE OUTPUT

In [19]:
df4.shape

(480, 3)

In [20]:
df5 = pd.merge(df3, df4, how='inner',  left_on='mgtkas_date', right_on = 'DATE OF ACQUISTION')
df5.shape

(1120, 13)

In [22]:
df5

,co_code,company_name,mr_info_full_name,merg_num,mgtkas_date,entity_name_mst,acquirer,co_advisor,merg_acq_advisor,merg_acq_mer_banker,DATE OF ACQUISTION,DATE ON YEAR ago,DATE one month AGO
0,371246,TV18 BROADCAST LTD.,Acquisition of shares,1,2012-01-03,EQUATOR TRADING ENTERPRISES PVT. LTD.,TV18 BROADCAST LTD.,NaN,NaN,NaN,2012-01-03,2010-12-24,2011-12-24
1,178651,PRAJ INDUSTRIES LTD.,Acquisition of shares,1,2012-01-06,PRAJ HIPURITY SYSTEMS LTD.,PRAJ INDUSTRIES LTD.,NaN,NaN,NaN,2012-01-06,2010-12-27,2011-12-27
2,83013,GODREJ CONSUMER PRODUCTS LTD.,Acquisition of shares,1,2012-01-23,COSMETICA NACIONAL CHILE,GODREJ CONSUMER PRODUCTS LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
3,83013,GODREJ CONSUMER PRODUCTS LTD.,Acquisition of shares,1,2012-01-23,COSMETICA NACIONAL CHILE,GODREJ CONSUMER PRODUCTS LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
4,83013,GODREJ CONSUMER PRODUCTS LTD.,Acquisition of shares,1,2012-01-23,COSMETICA NACIONAL CHILE,GODREJ CONSUMER PRODUCTS LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
5,83013,GODREJ CONSUMER PRODUCTS LTD.,Acquisition of shares,1,2012-01-23,COSMETICA NACIONAL CHILE,GODREJ CONSUMER PRODUCTS LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
6,146460,MINDTREE LTD.,Acquisition of shares,3,2012-01-23,MINDTREE LTD.,COFFEE DAY ENTERPRISES LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
7,146460,MINDTREE LTD.,Acquisition of shares,3,2012-01-23,MINDTREE LTD.,COFFEE DAY ENTERPRISES LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
8,146460,MINDTREE LTD.,Acquisition of shares,3,2012-01-23,MINDTREE LTD.,COFFEE DAY ENTERPRISES LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
9,146460,MINDTREE LTD.,Acquisition of shares,3,2012-01-23,MINDTREE LTD.,COFFEE DAY ENTERPRISES LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
10,175018,PHOENIX MILLS LTD.,Acquisition of shares,1,2012-01-23,PHOENIX HOSPITALITY CO. PVT. LTD.,PHOENIX MILLS LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
11,175018,PHOENIX MILLS LTD.,Acquisition of shares,1,2012-01-23,PHOENIX HOSPITALITY CO. PVT. LTD.,PHOENIX MILLS LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
12,175018,PHOENIX MILLS LTD.,Acquisition of shares,1,2012-01-23,PHOENIX HOSPITALITY CO. PVT. LTD.,PHOENIX MILLS LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
13,175018,PHOENIX MILLS LTD.,Acquisition of shares,1,2012-01-23,PHOENIX HOSPITALITY CO. PVT. LTD.,PHOENIX MILLS LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
14,389273,COFFEE DAY ENTERPRISES LTD.,Acquisition of shares,3,2012-01-23,MINDTREE LTD.,COFFEE DAY ENTERPRISES LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
15,389273,COFFEE DAY ENTERPRISES LTD.,Acquisition of shares,3,2012-01-23,MINDTREE LTD.,COFFEE DAY ENTERPRISES LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
16,389273,COFFEE DAY ENTERPRISES LTD.,Acquisition of shares,3,2012-01-23,MINDTREE LTD.,COFFEE DAY ENTERPRISES LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
17,389273,COFFEE DAY ENTERPRISES LTD.,Acquisition of shares,3,2012-01-23,MINDTREE LTD.,COFFEE DAY ENTERPRISES LTD.,NaN,NaN,NaN,2012-01-23,2011-01-13,2012-01-13
18,159120,PIRAMAL ENTERPRISES LTD.,Acquisition of shares,14,2012-02-04,VODAFONE INDIA LTD.,PIRAMAL ENTERPRISES LTD.,NaN,NaN,NaN,2012-02-04,2011-01-25,2012-01-25
19,14897,ANANT RAJ LTD.,Acquisition of shares,7,2012-02-23,ANANT RAJ LTD.,RELIANCE CAPITAL LTD.,NaN,NaN,NaN,2012-02-23,2011-02-13,2012-02-13
20,14897,ANANT RAJ LTD.,Acquisition of shares,7,2012-02-23,ANANT RAJ LTD.,RELIANCE CAPITAL LTD.,NaN,NaN,NaN,2012-02-23,2011-02-13,2012-02-13
21,196588,RELIANCE CAPITAL LTD.,Acquisition of shares,7,2012-02-23,ANANT RAJ LTD.,RELIANCE CAPITAL LTD.,NaN,NaN,NaN,2012-02-23,2011-02-13,2012-02-13
22,196588,RELIANCE CAPITAL LTD.,Acquisition of shares,7,2012-02-23,ANANT RAJ LTD.,RELIANCE CAPITAL LTD.,NaN,NaN,NaN,2012-02-23,2011-02-13,2012-02-13
23,251642,TITAGARH WAGONS LTD.,Acquisition of shares,1,2012-03-05,TITAGARH MARINE LTD. [MERGED],TITAGARH WAGONS LTD.,NaN,NaN,NaN,2012-03-05,2011-02-24,2012-02-24
24,196588,RELIANCE CAPITAL LTD.,Acquisition of shares,3,2012-03-09,RELIANCE COMMUNICATIONS LTD.,RELIANCE CAPITAL LTD.,NaN,NaN,NaN,2012-03-09,2011-02-28,2012-02-28
25,196588,RELIANCE CAPITAL LTD.,Acquisition of shares,3,2012-03-09,RELIANCE COMMUNICATIONS LTD.,RELIANCE CAPITAL LTD.,NaN,NaN,NaN,2012-03-09,2011-02-28,2012-02-28
26,369944,RELIANCE COMMUNICATIONS LTD.,Acquisition of shares,3,2012-03-09,RELIANCE COMMUNICATIONS LTD.,RELIANCE CAPITAL LTD.,NaN,NaN,NaN,2012-03-09,2011-02-28,2012-02-28
27,369944,RELIANCE COMMUNICATIONS LTD.,Acquisition of shares,3,2012-03-09,RELIANCE COMMUNICATIONS LTD.,RELIANCE CAPITAL LTD.,NaN,NaN,NaN,2012-03-09,2011-02-28,2012-02-28
28,250369,THERMAX LTD.,Acquisition of shares,1,2012-03-22,RIFOX HANS RICHTER GMBH,THERMAX LTD.,NaN,NaN,NaN,2012-03-22,2011-03-13,2012-03-12
29,248186,TATA GLOBAL BEVERAGES LTD.,Acquisition of shares,6,2012-03-27,MOUNT EVEREST MINERAL WATER LTD. [MERGED],TATA GLOBAL BEVERAGES LTD.,NaN,NaN,NaN,2012-03-27,2011-03-18,2012-03-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,256066,AXIS BANK LTD.,Acquisition of shares,1,2017-07-27,ACCELYST SOLUTIONS PVT. LTD.,AXIS BANK LTD.,NaN,NaN,NaN,2017-07-27,2016-07-17,2017-07-17
1091,256066,AXIS BANK LTD.,Acquisition of shares,1,2017-07-27,FREECHARGE PAYMENT TECHNOLOGIES PVT. LTD.,AXIS BANK LTD.,NaN,NaN,NaN,2017-07-27,2016-07-17,2017-07-17
1092,256066,AXIS BANK LTD.,Acquisition of shares,1,2017-07-27,FREECHARGE PAYMENT TECHNOLOGIES PVT. LTD.,AXIS BANK LTD.,NaN,NaN,NaN,2017-07-27,2016-07-17,2017-07-17
1093,100632,INFOSYS LTD.,Acquisition of shares,1,2017-08-03,BRILLIANT BASICS HOLDING LTD.,INFOSYS LTD.,NaN,NaN,NaN,2017-08-03,2016-07-24,2017-07-24
1094,502255,ADANI TRANSMISSION LTD.,Acquisition of shares,1,2017-08-05,BARMER POWER TRANSMISSION SERVICE LTD.,ADANI TRANSMISSION LTD.,NaN,NaN,NaN,2017-08-05,2016-07-26,2017-07-26
1095,502255,ADANI TRANSMISSION LTD.,Acquisition of shares,1,2017-08-05,BARMER POWER TRANSMISSION SERVICE LTD.,ADANI TRANSMISSION LTD.,NaN,NaN,NaN,2017-08-05,2016-07-26,2017-07-26
1096,502255,ADANI TRANSMISSION LTD.,Acquisition of shares,1,2017-08-05,THAR POWER TRANSMISSION SERVICE LTD.,ADANI TRANSMISSION LTD.,NaN,NaN,NaN,2017-08-05,2016-07-26,2017-07-26
1097,502255,ADANI TRANSMISSION LTD.,Acquisition of shares,1,2017-08-05,THAR POWER TRANSMISSION SERVICE LTD.,ADANI TRANSMISSION LTD.,NaN,NaN,NaN,2017-08-05,2016-07-26,2017-07-26
1098,331940,DR. LAL PATHLABS LTD.,Acquisition of shares,1,2017-08-07,DR. LAL PATHLABS BANGLADESH PVT. LTD.,DR. LAL PATHLABS LTD.,NaN,NaN,NaN,2017-08-07,2016-07-28,2017-07-28
1099,288148,MUTHOOT FINANCE LTD.,Acquisition of shares,1,2017-08-08,MUTHOOT HOMEFIN (INDIA) LTD.,MUTHOOT FINANCE LTD.,NaN,NaN,NaN,2017-08-08,2016-07-29,2017-07-29
1100,24685,AUROBINDO PHARMA LTD.,Acquisition of shares,1,2017-08-09,TERGENE BIOTECH PVT. LTD.,AUROBINDO PHARMA LTD.,NaN,NaN,NaN,2017-08-09,2016-07-30,2017-07-30
1101,33750,BHARAT FORGE LTD.,Acquisition of shares,1,2017-08-10,ANALOGIC CONTROLS INDIA LTD.,BHARAT FORGE LTD.,NaN,NaN,NaN,2017-08-10,2016-07-31,2017-07-31
1102,502255,ADANI TRANSMISSION LTD.,Acquisition of shares,1,2017-08-14,HADOTI POWER TRANSMISSION SERVICE LTD.,ADANI TRANSMISSION LTD.,NaN,NaN,NaN,2017-08-14,2016-08-04,2017-08-04
1103,261187,V-GUARD INDUSTRIES LTD.,Acquisition of shares,1,2017-08-21,GUTS ELECTROMECH LTD.,V-GUARD INDUSTRIES LTD.,NaN,NaN,NaN,2017-08-21,2016-08-11,2017-08-11
1104,261187,V-GUARD INDUSTRIES LTD.,Acquisition of shares,1,2017-08-21,GUTS ELECTROMECH LTD.,V-GUARD INDUSTRIES LTD.,NaN,NaN,NaN,2017-08-21,2016-08-11,2017-08-11
1105,389273,COFFEE DAY ENTERPRISES LTD.,Acquisition of shares,1,2017-08-21,ONS VENTURES SDN BHD,COFFEE DAY ENTERPRISES LTD.,NaN,NaN,NaN,2017-08-21,2016-08-11,2017-08-11
1106,389273,COFFEE DAY ENTERPRISES LTD.,Acquisition of shares,1,2017-08-21,ONS VENTURES SDN BHD,COFFEE DAY ENTERPRISES LTD.,NaN,NaN,NaN,2017-08-21,2016-08-11,2017-08-11
1107,150059,BOMBAY RAYON FASHIONS LTD.,Acquisition of shares,1,2017-08-28,BOMBAY RAYON FASHIONS LTD.,STATE BANK OF INDIA,NaN,NaN,NaN,2017-08-28,2016-08-18,2017-08-18
1108,150059,BOMBAY RAYON FASHIONS LTD.,Acquisition of shares,1,2017-08-28,BOMBAY RAYON FASHIONS LTD.,STATE BANK OF INDIA,NaN,NaN,NaN,2017-08-28,2016-08-18,2017-08-18
1109,236328,STATE BANK OF INDIA,Acquisition of shares,1,2017-08-28,BOMBAY RAYON FASHIONS LTD.,STATE BANK OF INDIA,NaN,NaN,NaN,2017-08-28,2016-08-18,2017-08-18
1110,236328,STATE BANK OF INDIA,Acquisition of shares,1,2017-08-28,BOMBAY RAYON FASHIONS LTD.,STATE BANK OF INDIA,NaN,NaN,NaN,2017-08-28,2016-08-18,2017-08-18
1111,146439,MINDA INDUSTRIES LTD.,Acquisition of shares,1,2017-08-29,MI TORICA INDIA PVT. LTD.,MINDA INDUSTRIES LTD.,NaN,NaN,NaN,2017-08-29,2016-08-19,2017-08-19
1112,261187,V-GUARD INDUSTRIES LTD.,Acquisition of shares,1,2017-08-31,GUTS ELECTROMECH LTD.,V-GUARD INDUSTRIES LTD.,NaN,NaN,NaN,2017-08-31,2016-08-21,2017-08-21
1113,175018,PHOENIX MILLS LTD.,Acquisition of shares,1,2017-09-05,ALLIANCE SPACES PVT. LTD.,PHOENIX MILLS LTD.,NaN,NaN,NaN,2017-09-05,2016-08-26,2017-08-26
1114,175018,PHOENIX MILLS LTD.,Acquisition of shares,1,2017-09-05,ALLIANCE SPACES PVT. LTD.,PHOENIX MILLS LTD.,NaN,NaN,NaN,2017-09-05,2016-08-26,2017-08-26
1115,175018,PHOENIX MILLS LTD.,Acquisition of shares,1,2017-09-05,VAMONA DEVELOPERS PVT. LTD.,PHOENIX MILLS LTD.,NaN,NaN,NaN,2017-09-05,2016-08-26,2017-08-26
1116,175018,PHOENIX MILLS LTD.,Acquisition of shares,1,2017-09-05,VAMONA DEVELOPERS PVT. LTD.,PHOENIX MILLS LTD.,NaN,NaN,NaN,2017-09-05,2016-08-26,2017-08-26
1117,29728,BALRAMPUR CHINI MILLS LTD.,Acquisition of shares,1,2017-09-15,AUXILO FINSERVE PVT. LTD.,BALRAMPUR CHINI MILLS LTD.,NaN,NaN,NaN,2017-09-15,2016-09-05,2017-09-05
1118,65956,EDELWEISS FINANCIAL SERVICES LTD.,Acquisition of shares,1,2017-09-19,E C L FINANCE LTD.,EDELWEISS FINANCIAL SERVICES LTD.,NaN,NaN,NaN,2017-09-19,2016-09-09,2017-09-09
1119,250620,THOMAS COOK (INDIA) LTD.,Acquisition of shares,1,2017-09-25,TATA CAPITAL FOREX LTD.,THOMAS COOK (INDIA) LTD.,NaN,NaN,NaN,2017-09-25,2016-09-15,2017-09-15

In [23]:
writer = pd.ExcelWriter('result.xlsx')
df5.to_excel(writer,'Sheet1')
writer.save()

In [24]:
data4 = pd.read_excel('result.xlsx')
df6 = pd.DataFrame(data4)
df6.shape

(480, 10)

In [25]:
df6 = df6.sort_values(['mgtkas_date'])

making filename column